header {
    grid-area: "header";
}

#design {
    grid-area: "design";
}

#about {
    grid-area: "about";
}

#contact {
    grid-area: "contact";
}

#social{
    grid-area: "social";
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "design"
        "about about"
        "contact social";
    
    grid-template-columns: 1fr 1fr;
}

